/*------Google Fonts----------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/* Asterisk wildcard selector to override default styles added by the browser */

* {
    margin: 0;
    padding: 0;
}


/*----------General------------*/

body {
    font-size: 100%;
    font-family: 'Roboto' sans-serif;

}

/*----------Font Styles------------*/
a {
    text-decoration: none;
}

.main-Text {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 50px;
    color:#ee4076;
}

.secondary-text {
    font-family: 'Roboto' sans-serif;
    font-weight:lighter;
    font-size: 40px;
    color:#1e0010;
}

h1, h2, h3, h4 {
    font-size: px;
}


/* Hero section */
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/Yoga-Project-Hero-Image.png") no-repeat left center/cover;
    position: relative;
   
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(246, 168, 110, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 60%;
    min-height: 300px;
    padding-top: 40px;
    padding-left:30px;
    
}


/*---used hero styling from the love run project but written custom css for the h2 and h3 heading
*/
/*#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:34px;
    color:#1e0010;
}*/



/*----------Nav bar------------*/

.navbar {
    font-family: 'Roboto' sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link {
    color:black;
        font-weight: 600px;
}

.nav-link:hover {
    color:rgba(241, 109, 107, .7);
}



/*----logo-------*/

.navbar-brand {
    height: 100px;
    width: 250px;
    background: url("../images/Yoga--for-you-logo.png") no-repeat center center/cover;
  
}
















.footer-row > a:hover {
    color: white;
}















.home-middle {
    margin-top: 10px;
}

footer {
    margin-top: 30px;
    background-color: #f6a86e;
}

.footer-row {
    margin-top: 30px;
  
}
footer ul li a {
    text-decoration: none;
}

/*-------Form-----*/

/*------Yoga Card*/



.socials {
    text-align: center;
    padding: 10px 0;
    display: flex;
   
    list-style-type: none;
}



/*--About Section--*/
.about-section {
    padding-top: 100px;
}


/*--Classes Section*/
.classes-section {
    padding-top: 200px;
 
}

/*--Tutor Section--*/
.tutor-section {
    padding-top: 100px;
    padding-bottom: 80px;
}



/*--Copyright---*/
.copyright-text {
    font-size: 12px;
}

/*button*/

.button-bg {
    background-color: #f47a3f;
    color: #1e0010;
    text-transform: uppercase;
    font-weight: 500;
}
.button-bg:hover {
    background-color: #D3D3D3  ;
    color: #f47a3f;
}

