@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------General*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: 'Roboto' sans-serif;

}
a {
    text-decoration: none;
}
.footer-row > a:hover {
    color: white;
}



/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/Yoga-Project-Hero-Image.png") no-repeat left center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

/*#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:34px;
    color:#1e0010;
}*/
/*----------Colours------*/
.list_heading {
    color: #f47a3f;
    font-weight: bold;
}

/*---------Fonts*/


.main-Text {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 50px;
    color:#ee4076;
}

.secondary-text {
    font-family: 'Roboto' sans-serif;
    font-weight:lighter;
    font-size: 40px;
    color:#1e0010;
}

h1, h2, h3, h4 {
    font-size: 25px;
}


.navbar {
    font-family: 'Robot' sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link {
    color:black;
    
    font-weight: 600px;
}

.home-middle {
    margin-top: 10px;
}

footer {
    margin-top: 30px;
    background-color: #f47a3f;
}

.footer-row {
    margin-top: 30px;
  
}
footer ul li a {
    text-decoration: none;
}

/*-------Form-----*/

/*------Yoga Card*/



.socials {
    text-align: center;
    padding: 10px 0;
    display: flex;
   
    list-style-type: none;
}

.tutor-table {
    margin-top: 100px;
}

/*--About Section--*/
.about-section {
    padding-top: 100px;
}


/*--Classes Section*/
.classes-section {
    padding-top: 200px;
 
}

/*--Tutor Section--*/
.tutor-section {
    padding-top: 100px;
    padding-bottom: 80px;
}

/*----logo-------*/
.navbar-brand {
    height: 100px;
    width: 250px;
    background: url("../images/Yoga--for-you-logo.png") no-repeat center center/cover;
  
}

/*--Copyright---*/
.copyright-text {
    font-size: 12px;
}

/*button*/

.button-bg {
    background-color: #f47a3f;
    color: #1e0010;
    text-transform: uppercase;
    font-weight: 500;
}
.button-bg:hover {
    background-color: #D3D3D3  ;
    color: #f47a3f;
}

.card {

}